header{
    background-color: gray;
    margin-bottom: 0px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.navlua ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    margin-top: 55px;
  }
  .navlua ul li{
      display: inline;
    margin-top: 110mm;  }
header .navlua ul li a{
    text-decoration:none;
    margin-left: 40px;
    color: #000;
    
}
header img{
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 40px;}


#nav1{

        text-decoration:none;
        margin-left: 0px;
    }
    #nav2 > img{
        font-size: 20px;
        font-weight: bold;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-top: 10px;
    }
    #imf{
        
        margin-top: 20px;
        height: 400px;
        margin-left: 40px;
    
        width: 95%;
    }
main ul{
    list-style: none;
}
main ul li{
    display: inline;
}
main ul li img{
    width: 400px;
    margin-right: 28.3437px;
}
 #right{
    float: right;
    background-color: #f1f1f1;
    width: 50%;
    margin-top: 22px;
    height: 458px;
    margin-right: 28px;
    margin-bottom: 20px;
 }
main div img{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
    float: left;
    width: 550px;
    margin-bottom: 15px;
}
button{
    display: block;
    width: 116px;
    height: 36px;
    margin-left: 20px;
color: white;
background-color: black;}
main section p{
   overflow: scroll;
  max-height: 330px;

   
}
#nav2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    height: 90px;
}
button:hover {
    background-color:rgb(170, 87, 87);
    animation-duration: 350ms;
  }
footer {
    clear: both;
    background-color: gray;
    height: 250px;
}
#nav1 > a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
    color: #000;
    margin-right: 0px;
    padding-right: 100px;
}
#nav2 > ul > li > a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
    color: #000;
    padding-right: 100px;
}
#nav2 > ul{    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-bottom: 10px;}